body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(morning.jpeg) ;
}
/* practice about border */
#dotted{border-style:dotted;}
#dashed{border-style: dashed;}
#groobe{border-style: groove;}
#double{border-style: double;}
#inherit{border-style: inherit;}

#initial{border-style: initial;}
#ridge{border-style: ridge;}
/* css border radius */
#border-radius{ width: 400px;
     border: 2px solid gray;
      border-radius: 50px 1px 50px 1px;}
/* Using css display       */
#none{display: none;}
#block{display: block;}
#inline-block{display: inline-block;}
#inline{display: inline;}
 
/* adding style to the button */
.btn{
    background-color: aliceblue;
    padding: 30px;
    border-radius: 20px;
    color: red;

}
.btn:hover{
    background-color: aquamarine;
    color: black;
}